GITHUB_APP_IDENTIFIER = 1062580
WEBHOOK_SECRET =
AWS_REGION =
PORT =
NODE_ENV=development
CI_RUNNER_URL = http://localhost:4444
SNS_TOPIC_ARN =
ORGANIZATIONS_TABLE_NAME=organizations
PROJECTS_TABLE_NAME=projects
RUNS_TABLE_NAME=runs
GITHUB_APP_PRIVATE_KEY =
